
__pycache__/
*.py[cod]
*$py.class

*.so

*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
local_settings.py



.env
*.env

# VSCode / IDEs / OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Virtualenv
venv/
env/
ENV/


pip-wheel-metadata/
__pypackages__/


htmlcov/
.coverage
.tox/
.pytest_cache/
